/* New Stylesheet Title */
* {
  font-family: 'Proxima-Nova', sans-serif;
}
html body {
  background: #fff;
}
html body .centered {
  float: none;
  margin: 0 auto;
}
html #mastHead {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  min-height: 800px;
  background: url('../img/hero.png') no-repeat center center fixed;
  background-size: cover;
  --webkit-backrgound-size: cover;
  position: relative;
}
html img {
  width: 100%;
}
html .mast {
  text-align: center;
  padding-top: 200px;
}
html .mast h1 {
  text-align: center;
  color: #fff200;
  font-size: 130px;
  font-weight: 800;
  letter-spacing: 6.5px;
  padding-bottom: 30px;
}
html .mast h2 {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 30px;
}
html .mast h3 a {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 30px;
}
html .mast .btn {
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 16px;
  background: rgba(255, 242, 0, 0.6);
  border: none;
  padding: 10px 30px;
}
html .mast .btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
html #featuresList {
  background-color: #d8d8d8;
}
html #featuresList .banner {
  padding-top: 50px;
  padding-bottom: 50px;
}
html #featuresList .banner h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  background: #fff200;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
html #featuresList .center {
  width: 320px;
  margin: 0px auto;
  text-align: left;
}
html #featuresList .center ul {
  margin: 50px auto;
  line-height: 50px;
}
html #featuresList .center ul li {
  font-size: 20px;
}
html .audience {
  padding-top: 50px;
  padding-bottom: 50px;
}
html .audience h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  background: #fff200;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
}
html .packages {
  padding-top: 50px;
  padding-bottom: 50px;
}
html .packages h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding-top: 20px;
  margin: 0px;
  background: #fff200;
  padding-left: 80px;
}
html .packages p {
  padding-top: 0px;
  font-style: italic;
  background: #fff200;
  padding-left: 80px;
  padding-bottom: 15px;
}
html .icon img {
  width: 50%;
  margin: 100px auto;
}
html .benefits h4 {
  color: #d8d8d8;
}
html .benefits .btn {
  margin: 15px 0px;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  background: #d8d8d8;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 10px;
}
html .benefits .btn:hover {
  background: #fff200;
}
html .single-package {
  padding: 0px;
  position: relative;
}
html .single-package img {
  float: left;
}
html .single-package .title {
  position: absolute;
  width: 100%;
  display: block !important;
  text-align: center;
  top: 45%;
  left: 0%;
}
html .single-package .title h2 {
  margin: 0px;
}
html .single-package .title h2 a {
  color: #fff;
  font-size: 40px;
  display: block;
  font-weight: 600;
}
html .single-package .black {
  position: absolute;
  display: block !important;
  padding: 150px 200px;
}
html .single-package .black h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}
html .single-package .black h2 a {
  color: #000;
  font-size: 40px;
  font-weight: 600;
}
html #clients {
  background: #d8d8d8;
  padding: 50px;
}
html #clients img {
  margin: 30px auto;
}
html .map {
  margin-bottom: 100px;
}
html .contact {
  padding-top: 70px;
}
html .contact h3 {
  font-weight: 700;
  font-size: 25px;
}
html .contact h4 a {
  color: #000;
}
html .form-group .form-control {
  background-color: transparent !important;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
html .form-group label {
  height: 48px;
  padding: 8px 1px;
  font-size: 21px;
}
html .btn-default {
  color: #000;
  font-size: 22px;
  background: #fff200;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 30px;
}
html .border-form-control::-moz-placeholder {
  font-weight: 300;
  color: #000;
}
html .border-form-control:-ms-input-placeholder {
  font-weight: 300;
  color: #000;
}
html .border-form-control::-webkit-input-placeholder {
  font-weight: 300;
  color: #000;
}
html textarea.border-form-control {
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
}
